/*============MAIN==============*/
/* main {
    padding-top: 2em;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 4em;
} */

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

main > section{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 4em;
    padding-left: 4em;
}
/* ================== FORMULARIOS ================== */

#cabecalhoForm {
    display: flex;
    justify-content: center;
    font-size:22px;
    padding-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

form > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > div > div:nth-child(1) {
    padding-right: 1em;
    width: 600%;
}


input {
    background-color: #E6E6E6;
    border: 1px solid black;
    height: 2em;
}

label {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

#linkFoto {
    margin-bottom: 1em;
}

#descricao {
    margin-bottom: 3em;
    height: 15em;
    background-color: #E6E6E6;
    border: 1px solid black;
}

#botaoSalvar {
    color: #fafafa;
    font-weight: 500;
    font-size: 22px;
    background-color: #2C5680;
    border: 1px solid black;
    width: 15%;
    height: 2em;
    margin: auto;
}

#botaoSalvar:hover {
    cursor: pointer;
}

#botaoSalvar:active {
    background-color: #1b354e;
}