main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.adoption-wolf-info {
    display: flex;
    justify-content: flex-start;

}

.adoption-wolf-txt {
    padding-top: 2em;
    padding-left: 3em;
}

.adoption-wolf-txt > h1 {
    font-size: 50px;
}



.wolf-circle-container {
display: inline-block;
position: relative;
width: 200px;
height: 200px;
overflow: hidden;
border-radius: 50%;
}
  
.wolf-circle-container > img {
width: auto;
height: 100%;
margin-left: -50px;
}


.adoption-forms {
    display: flex;
    flex-direction: column;

    padding-top: 2em;
}

.name-age-form {
    display: flex;
    padding-bottom: 1em;
}

.name-age-form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1em;
    /* background-color: blue; */
}

.name-age-form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 10%;
    /* background-color: blue; */
}

.email-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

input {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid black;
    font-size: 22px;
}

#idade {
    text-align: center;

}

label {
    font-size: 24px;
    font-weight: bold;
}

#botaoAdotar {
    color: #fafafa;
    font-weight: 500;
    font-size: 22px;
    background-color: #2C5680;
    border: 1px solid transparent;
    width: 15%;
    height: 2em;
    margin: auto;
}

#botaoAdotar:hover {
    cursor: pointer;
}

#botaoAdotar:active {
    background-color: #1b354e;
}